<%- include("../partials/head.ejs") %>

<% const { year, jobNum, name, client, stage, sqFt, isActive, suite, streetAddress, city, state, zipCode, projectValue, bidDueDate, image, jobId} = project 
console.log('project._id:', project._id)
%> 
<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <h2>New Project</h2>
    <form action="/projects/<%= project._id %>?_method=PUT" method="POST">
      <label for="active-checkbox" class="toggle-btn"> Active </label>
        <input type="checkbox" name="isActive" id="active-checkbox" class="hidden-checkbox">
    
    <fieldset>
      <legend>Project Identifiers </legend>
      <label>Project Name: 
        <input type="text" name="name" value = "<%=name%>" required>
      </label>
      <label>Year: 
        <input type="number" name="year" value=<%= year %> required>
      </label>
      <label> Job Number: 
        <input required type="number" name="jobNum" value="<%= jobNum %>">
      </label>
    </fieldset>
    <fieldset>
      <legend>Location</legend>

      <label> Client:  
        <input type="text" name="client" value="<%=client%>">
      </label>
      
      <label> Street Address:  
        <input type="string" name="streetAddress" value="<%=streetAddress%>">
      </label>

      <label> Suite or Floor:  
        <input type="string" name="suite" value="<%=suite%>">
      </label>
      
      <label> City:  
        <input type="string"" name="city" value="<%=city%>">
      </label>
      
      <label> State:  
        <input type="string" name="state" value="<%=state%>">
      </label>
      
      <label> Zip Code:  
        <input type="string"" name="zipCode" value=<%=zipCode%>>
      </label>

      </fieldset>
      
    <fieldset>
      <legend>Additional Details</legend>
      <label> Square Feet:  
        <input type="text" name="sqFt" value=<%=sqFt%>>
      </label>

      <label> Project Stage:  
        <input list="project-stages" name="stage" value=<%=stage%>>
      <datalist id="project-stages">
        <option value="Construction">
        <option value="Pre-Construction">
        <option value="Bidding">
        <option value="Post-Construction">
      </datalist>
      </label>

      <label> Project Value:  
        <input type="number" name="projectValue" value=<%=projectValue%>>
      </label>

      <label> Image URL: 
        <input type="number" name="image" value=<%=image%> >
      </label>
    </fieldset>
      
      <input type="submit" value="UpdateProject">
  
    </form>

  </main>
</body>